<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="mt-2 mb-2 mx-auto max-w-7xl py-2 sm:py-2 lg:px-8">
    <%= render "application/flash_messages" %>
    <p><%= @message %></p>
  </div>
</div>