<% if flash.any? %>
  <div class="rounded-md bg-green-50 p-4 mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="flex">
      <div class="ml-3">
        <div class="text-sm text-green-700">
          <% flash.each do |key, msg| %>
            <% if key == 'alert' || key != 'timedout' %>
              <p><%= msg %></p>
            <% end  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>