<div class="bg-white px-6 py-10 mt-10 sm:mt-20">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700 sm:pt-4">
    <h1 class="mt-2 text-xl font-bold tracking-tight text-gray-900">Simply Always Awake</h1>
    <h1 class="mb-8 text-xl font-bold tracking-tight text-gray-900">Community Locator</h1>
    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900">User Agreement</h1>
    <div class="mt-8 max-w-2xl">
      <p class="mt-4">This User Agreement ("Agreement") is entered into by and between Simply Always Awake, LLC, registered in Colorado ("Owner"), and users (“Users”) of the "Simply Always Awake Community Locator" software system ("Software").</p>
      
      <h2 class="mt-8 text-xl font-bold tracking-tight text-gray-900">1. PURPOSE</h2>
      <p class="mt-4">The Software is designed to help Users, specifically SAA retreats participants or YouTube members, to locate others in the SAA Community geographically for the purpose of creating local social groups.</p>

      <h2 class="mt-8 text-xl font-bold tracking-tight text-gray-900">2. USE AT YOUR OWN RISK</h2>
      <p class="mt-4">Users acknowledge that their participation in the Software is voluntary and at their own risk. The Owner does not guarantee the accuracy, reliability, or outcomes of interactions facilitated by the Software.</p>

      <h2 class="mt-8 text-xl font-bold tracking-tight text-gray-900">3. USER RESPONSIBILITY</h2>
      <p class="mt-4">Users are advised to exercise their own judgment and caution when interacting with others through the Software. The Owner is not responsible for any disputes, issues, or harm arising from user interactions. Users agree not to hold the Owner liable for any such incidents.</p>

      <h2 class="mt-8 text-xl font-bold tracking-tight text-gray-900">4. FREE USE</h2>
      <p class="mt-4">The Software is provided free of charge. Users understand and agree that the Owner is not liable for any loss or damages incurred in connection with the use of the Software.</p>

      <h2 class="mt-8 text-xl font-bold tracking-tight text-gray-900">5. DISCLAIMER</h2>
      <p class="mt-4">The Owner makes no warranties, express or implied, regarding the Software. The Software is provided "as-is," and the Owner disclaims any responsibility for the actions or behavior of users.</p>

      <h2 class="mt-8 text-xl font-bold tracking-tight text-gray-900">6. INDEMNIFICATION</h2>
      <p class="mt-4">Users agree to indemnify and hold the Owner harmless from any claims, damages, or liabilities arising from their use of the Software or interactions facilitated by the Software.</p>

      <h2 class="mt-8 text-xl font-bold tracking-tight text-gray-900">7. TERMINATION</h2>
      <p class="mt-4">The Owner reserves the right to terminate or modify the Software at any time without prior notice.</p>

      <h2 class="mt-8 text-xl font-bold tracking-tight text-gray-900">8. GOVERNING LAW</h2>
      <p class="mt-4">This Agreement shall be governed by the laws of the state of Colorado.</p>
    </div>
  </div>
</div>




