<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<div class="stack-col gap-8">
  <p>New message from <%= @name %></p>
  <p>Email: <%= @email %></p>
  <p><%= @message %></p>
</div>
</body>
</html>
