<div>
  <h1>Simply Always Awake Community Locator</h1>
</div>

<div class="rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium">
  <%= link_to "Sign up", new_user_registration_path %>
</div>
<div class="rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium">
  <%= link_to 'Sign in', new_user_session_path %>
</div>
