<% flash.each do |key, msg| %>
  <% if key == 'notice' %>
    <div class="rounded-md bg-green-50 p-4">
      <div class="flex">
        <div class="ml-3">
          <div class="text-sm text-green-700">
            <p><%= msg %></p>
          </div>
        </div>
      </div>
    </div>
  <% elsif key == 'notice' || key != 'timedout' %>
    <div class="rounded-md bg-yellow-50 p-4">
      <div class="flex">
        <div class="ml-3">
          <div class="text-sm text-yellow-700">
            <p><%= msg %></p>
          </div>
        </div>
      </div>
    </div>
  <% end  %>
<% end %>
